@use '../abstracts/variables' as * ;

@mixin flex($direction: row,$justify: center,$align: flex-start) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin search-font($font: $text-font,$fontcolor: rgb(77, 77, 77),$fontweight: 600) {
    font-family: $font;
    color: $fontcolor;
    font-weight: $fontweight;
}

@mixin h1-font {
    font-family: $text-font;
    font-size: 26px;
    font-weight: 800;
}

@mixin h2-font {
    font-family: $text-font;
    font-size: 20px;
    font-weight: 400;
}

