@use "../utils/" as * ;


.header {
    @include flex(row ,center ,center );
    height: 4rem;
    &__logo {
        display: block;
        width: 45%;
        height: auto;
        @include md {
            width: 30%;
        }
        @include lg {
            width: 15%;
        }
    }
}