@use '../utils/' as *;


*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
}

.preloader {
    opacity: 0;
    position: absolute;
    background: #f1f1f1;
    width: 100vw;
    height: 100vh;
    @include flex(column, center, center);
    animation: fadeout 2s;

    &__bas {
        @include flex(row, center, center);

        &__cercle {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin: 0 15px;
            animation: rebond infinite 0.5s alternate;

        }

        &__primary {
            background-color: $color-primary;
        }

        &__secondary {
            background-color: $color-secondary;
            animation-delay: 0.05s;
        }

        &__tertiary {
            background-color: $color-tertiary;
            animation-delay: 0.1s;
        }


    }

    &__logo {
        margin-bottom: 40%;
        width: 80%;
        animation: colorfading 2s infinite;
    }

}

@keyframes rebond {
    0% {}

    100% {
        transform: translateY(-30px);
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes colorfading {
    0%,20% {
        filter: invert(61%) sepia(80%) saturate(5789%) hue-rotate(243deg) brightness(91%) contrast(88%);
    }

    50% {
        filter: invert(73%) sepia(9%) saturate(7413%) hue-rotate(283deg) brightness(102%) contrast(101%);
    }

    100% {
        filter: invert(91%) sepia(9%) saturate(1073%) hue-rotate(108deg) brightness(93%) contrast(91%);
    }
}