@use "../utils" as *;


a {
    text-decoration: none;
    color: #000000
}

h1 {
    @include h1-font;
}

h2 {
    @include h2-font;
    font-weight: bold;
}

h3 {
    font-family: $text-font;
    font-weight: 300;
}

h4 {
    font-family: $text-font;
    color: black;
    font-weight: 400;
}

h5 {
    font-family: $text-font;
    font-size: 16px;
    color: darken($color-tertiary,30%)
}

h6 {
    font-family: $text-font;
    font-size: 16px;
}

.fas {
    font-size: 20px;
    color: #868686;
}

.far {
    font-size: 30px;
}

::placeholder , .search__input {
    @include search-font ;
    @include md {
        font-size: 18px;
    }
}


.reservation__button {
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
}



.fonctionnement__h3 {
    font-weight: bold;
}
.fonctionnement__h4 {
    color: #ffffff;
}



.carte__h3 {
    font-size: 17px;
}

.carte__heart--fill {
    font-size: 30px;
    opacity: 0;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to bottom, $color-primary 0%, $color-secondary 100%);
    &:hover {
        @include heart-animation;
    }
}

.footer h2 {
    color: white;
    font-family: $logo-font;
    font-size: 18px;
    font-weight: 200;
}

.footer li ,footer a {
    list-style-type:none;
    color: white;
    font-family: $text-font;
    font-size: 15px;
}


.fa-utensils , .fa-hands-helping {
    color: white;
    font-size: 10px;
}

.fa-arrow-left {
    color: #3d3d3d;
    font-size: 25px;
}

.menu h1 {
    font-family: $logo-font;
    font-size: 30px;
    font-weight: 500;
}
.main h2 {
    font-size: 18px;
}

.carte__food h3 {
    font-size: 17px;
}

.fa-check-circle {
    color: white;
    font-size: 25px;
}