@use "../utils" as *;


a {
    text-decoration: none;
    color: #000000
}

h1 {
    @include h1-font;
}

h2 {
    @include h2-font;
}
::placeholder {
    @include search-font ;
    @include md {
        font-size: 18px;
    }
}


.section-top__reservation {
    text-align: center;
}

.section-top__reservation__button {
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
}

h3 {
    font-family: $text-font;
}

h4 {
    font-family: $text-font;
    color: white;
    font-weight: 400;
}

h5 {
    font-family: $text-font;
    font-size: 16px;
    color: darken($color-tertiary,30%)
}

.fas {
    font-size: 20px;
    color: #868686;
}

.far {
    font-size: 30px;
}

.restaurant__bloc__carte__content__heart__fill {
    font-size: 30px;
    opacity: 0;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to bottom, $color-primary 0%, $color-secondary 100%);
    &:hover {
        @include heart-animation;
    }
}
.restaurant__bloc__carte__content__text h2 {
    font-weight: bold;
}

.restaurant__bloc__carte__content__text h3 {
    font-weight: 300;
}

.footer h2 {
    color: white;
    font-family: $logo-font;
    font-size: 18px;
}
.footer li ,footer a {
    list-style-type:none;
    color: white;
    font-family: $text-font;
    font-size: 15px;
}

.fa-utensils , .fa-hands-helping {
    color: white;
    font-size: 10px;
}
.fa-utensils {
    margin-right: 4%;
}
.fa-hands-helping {
    margin-right: 3%;
}



