@use "../abstracts" as *;


a {
    text-decoration: none;
    color: #000000
}

h1 {
    @include h1-font;
}

h2 {
    @include h2-font;
}
::placeholder {
    @include search-font ;
}


.section-top__reservation {
    text-align: center;
}

.section-top__reservation__button {
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
}

h3 {
    font-family: $text-font;
}

h4 {
    font-family: $text-font;
    color: white;
    font-weight: 400;
}

.fas {
    font-size: 20px;
    color: #868686;
}
