@use "../utils/" as *;


.header {
    @include flex(row, flex-start, center);
    height: 4rem;
    &--margin {
        margin-right: 7rem;
    }
    &__arrow {
        margin-left: 5%;
        &:hover > .fa-arrow-left {
            color: lighten(#3d3d3d , 20%);
        }
    }

    &__logo {
        display: block;
        margin: auto;
        width: 45%;
        height: auto;

        @include md {
            width: 30%;
        }

        @include lg {
            width: 15%;
        }
    }

}