@use '../utils/variables' as * ;

@mixin flex($direction: row,$justify: center,$align: flex-start) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin search-font($font: $text-font,$fontcolor: rgb(77, 77, 77),$fontweight: 600) {
    font-family: $font;
    color: $fontcolor;
    font-weight: $fontweight;
}

@mixin h1-font {
    font-family: $text-font;
    font-size: 25px;
    font-weight: 800;
}

@mixin h2-font {
    font-family: $text-font;
    font-size: 20px;
    font-weight: 400;
}

@mixin heart-animation {
    animation: anim 0.3s ease-in-out 0s 1 normal forwards;
    @keyframes anim {
        100% {
           opacity: 1;
        }
    }
}

@mixin menu-animation {
    @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
            animation-delay: 100ms*$i;
        }
    }
    animation: menu-appear 1s;
    @keyframes menu-appear {
        0% {
            opacity: 0;
            transform: scale(0);
        }

        100% {
            opacity: 1;
            transform: scale(1);
        }
    }
}

@mixin validation-anim {
    animation: spin 1s ease forwards;
    @keyframes spin {
        0% {
            transform: rotate(-250deg);
        }
        100% {
            
            transform: rotate(0deg);
        }
    }
}
@mixin check-appear {
    animation: appear 0.5s ease forwards;
    @keyframes appear {
        100% {
            margin: 0;
        }
    }
}