@use "../utils/" as *;
@use "../base/" as *;
@use "../components/" as *;

.search {
    @include flex(row, center, center);
    width: 100%;
    height: 3.2rem;
    background-color: rgb(237, 237, 237);
    box-shadow: inset 0px 4px 3px rgba(50, 50, 50, 0.15);
    gap: 1rem;

    &__input {
        width: 8rem;
        border: none;
        background-color: transparent;
        outline: none;

        @include md {
            width: 9rem;
        }
    }
}

.reservation {

    @include flex(column, center, center);
    background-color: $color-button;
    height: 18rem;
    text-align: center;
    gap: 1rem;
    &__button {
        @include primary-button ;
    }
}






.fonctionnement {
    @include flex(column, center, flex-start);
    margin: 6%;
    margin-top: 2rem;
    @include md {
        @include flex(column, center, center);
        margin-top: 5rem;
    }
    &__link {
        
        list-style: none;
        width: 100%;
        @include md {
            @include flex(row, space-around, center);
            flex-wrap: wrap;
        }
        @include lg {
            margin-top: 2rem;
        }
    }

    &__etape {
        @include flex(row, flex-start, center);
        margin: 2rem 0 1.3rem 0.75rem;
        gap: 1.5rem;
        padding: 1.5rem;
        box-shadow: 0px 5px 19px -4px rgba(0, 0, 0, 0.23);
        border-radius: 1rem;
        background-color: $color-button;
        &:hover {
            background-color: lighten($color-primary, 36%);
        }
        &:hover > .fonctionnement__icon{
            color: $color-primary;
        }

        @include lg {
            padding-right: 2rem;
        }
    }

    &__h5 {
        @include flex(row, center, center);
        margin-left: -2.3rem;
        background: $color-primary;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 1rem;
    }

    &__icon {
        margin-bottom: 0.2rem;
        height: 1rem;
        width: 1rem;
    }
}

.restaurant {
    margin-top: 3rem;
    background-color: $color-button;
    padding: 1.5rem;
    @include md {
        margin: 0;
    }
    &__h2 {
        margin-top: 2rem;
    }
}
.bloc__carte {
    margin-top: 1.5rem;
    @include md {
        margin-top: 2rem;
    }
    @include lg {
        @include flex(row,center,center);
        flex-wrap: wrap;
    }
}
.carte {
    position: relative;
    display: block;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 1.2rem;
    box-shadow: $boxshadow;
    @include md {
        margin-bottom: 2rem;
    }
    @include lg {
        width: 45%;
        margin: 2%;
        
    }

    &__resize {
      
        height: 10.5rem;
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

        @include md {
            height: 300px;
        }
    }

    &__nouveau {
        position: absolute;
        @include flex(row, center, center);
        background-color: $color-tertiary;
        height: 30px;
        width: 6rem;
        top: 1rem;
        right: 1rem;
    }

    &__contenu {
        @include flex(row, space-between, center);
        padding: 1rem;
    }

    &__h3 {
        margin-top: 0.5rem;
    }

    &__heart {
        &--fill {
            position: absolute;
        }
    }
}